<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        
        <!-- Main Contacts Menu -->
        <menuitem id="menu_contacts_root"
                  name="Contacts"
                  sequence="20"/>
        
        <!-- Customers Submenu -->
        <menuitem id="menu_customers"
                  name="Customers"
                  parent="menu_contacts_root"
                  sequence="10"
                  action="action_contact_customer"/>
        
        <!-- Suppliers Submenu -->
        <menuitem id="menu_suppliers"
                  name="Suppliers"
                  parent="menu_contacts_root"
                  sequence="20"
                  action="action_contact_supplier"/>
        
        <!-- Vendors Submenu -->
        <menuitem id="menu_vendors"
                  name="Vendors"
                  parent="menu_contacts_root"
                  sequence="30"
                  action="action_contact_vendor"/>
        
        <!-- Child Profiles Submenu -->
        <menuitem id="menu_child_profiles"
                  name="Child Profiles"
                  parent="menu_contacts_root"
                  sequence="40"
                  action="action_child_profile"/>
        
        <!-- Configuration Submenu -->
        <menuitem id="menu_contacts_config"
                  name="Configuration"
                  parent="menu_contacts_root"
                  sequence="100"/>
        
        <menuitem id="menu_contact_categories"
                  name="Categories"
                  parent="menu_contacts_config"
                  sequence="10"
                  action="action_contact_category"/>
        
        <menuitem id="menu_contact_tags"
                  name="Tags"
                  parent="menu_contacts_config"
                  sequence="20"
                  action="action_contact_tag"/>
        
        <!-- Reports Submenu -->
        <menuitem id="menu_contacts_reports"
                  name="Reports"
                  parent="menu_contacts_root"
                  sequence="90"/>
        
        <menuitem id="menu_contact_analytics"
                  name="Analytics"
                  parent="menu_contacts_reports"
                  sequence="10"
                  action="action_contact_analytics"/>
        
    </data>
</odoo>