<?xml version="1.0" encoding="utf-8"?>
<ocean>
    <data>
        
        <!-- Main POS Menu -->
        <menuitem id="menu_pos_root" 
                  name="Point of Sale" 
                  sequence="30"/>
        
        <!-- POS Configuration Menu -->
        <menuitem id="menu_pos_config" 
                  name="Configuration" 
                  parent="menu_pos_root" 
                  sequence="10"/>
        
        <menuitem id="menu_pos_config_pos" 
                  name="POS Configurations" 
                  parent="menu_pos_config" 
                  sequence="10"/>
        
        <!-- POS Operations Menu -->
        <menuitem id="menu_pos_operations" 
                  name="Operations" 
                  parent="menu_pos_root" 
                  sequence="20"/>
        
        <menuitem id="menu_pos_sessions" 
                  name="Sessions" 
                  parent="menu_pos_operations" 
                  sequence="10"/>
        
        <menuitem id="menu_pos_orders" 
                  name="Orders" 
                  parent="menu_pos_operations" 
                  sequence="20"/>
        
        <menuitem id="menu_pos_payments" 
                  name="Payments" 
                  parent="menu_pos_operations" 
                  sequence="30"/>
        
        <menuitem id="menu_pos_receipts" 
                  name="Receipts" 
                  parent="menu_pos_operations" 
                  sequence="40"/>
        
        <!-- POS Reports Menu -->
        <menuitem id="menu_pos_reports" 
                  name="Reports" 
                  parent="menu_pos_root" 
                  sequence="30"/>
        
        <menuitem id="menu_pos_analytics" 
                  name="Analytics" 
                  parent="menu_pos_reports" 
                  sequence="10"/>
        
        <!-- POS Dashboard Menu -->
        <menuitem id="menu_pos_dashboard" 
                  name="Dashboard" 
                  parent="menu_pos_root" 
                  sequence="5"/>
        
    </data>
</ocean>